<% include ./include/header.ejs %>

<main class="main">

  <section class="visual">
    <div class="container">
      <div class="row">

        <div class="col-lg-6">

        </div> <!-- END col-lg-6-->

        <div class="col-lg-6">


        </div> <!-- END col-lg-6-->
      </div> <!-- END row-->
    </div> <!--END container-->
  </section> <!-- END visual-->



  <% include ./include/footer.ejs%>