<div class="common_modal">
    <div class="modal_contents">
        <h4 class="m_title">ARE YOU SURE?</h4>
        <p class="desc">CAN'T FIND USER. KEEP YOUR EMAIL OR PASSWORD</p>
        <button type="button" class="ok_btn">OK</button>
    </div> <!-- END modal_contents-->
</div> <!-- END error_modal-->