<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>NOTEBANK</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- seo meta tag-->
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- SNS Meta Tag-->
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="NOTEBANK"/>
    <meta property="og:description" content=""/>
    <meta property="og:site_name" content="NOTEBANK"/>
    <meta property="og:image" content="/images/snsImage.png"/>
    <meta property="og:url" content="https://notebank.io/"/>

    <!-- SNS twitter Meta Tag-->
    <meta property="twitter:card" content="summery"/>
    <meta property="twitter:title" content="NOTEBANK"/>
    <meta property="twitter:description" content=""/>
    <meta property="twitter:image" content="/images/snsImage.png"/>
    <meta property="twitter:site" content="https://notebank.io/">

    <!-- css link -->
    <link rel='stylesheet' href='/css/style.css' type="text/css"/>

    <!--slick link-->
    <link rel="stylesheet" type="text/css" href="/lib/slick/slick-theme.css">
    <link rel="stylesheet" type="text/css" href="/lib/slick/slick.css">

    <!-- favicon link-->
    <link rel="icon" href="/images/dashboard/note_icon.png" type="image/png" />

    <!--&lt;!&ndash; Font NanumSquare&ndash;&gt;-->
    <!--<link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css">-->


    <!--favicon link-->
</head>
<body data-spy="scroll" data-target=".gnbbox" data-offset="50">
<div class="wrapper index">

<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="logo">
                    <a href="/" title="note coin homepage 바로가기 링크">
                        <img src="/projectInfo/logo.png" alt="note coin logo"/>
                    </a>
                </h1> <!-- END Logo-->

                <button type="button" class="mobile_btn">
                    <span class="line line1"></span>
                    <span class="line line2"></span>
                    <span class="line line3"></span>
                </button> <!-- END Mobile_btn-->

                <nav class="gnbbox">
                    <div class="gnbInnerBox">
                        <h2 class="hidden">홈페이지 주요메뉴</h2>
                        <ul class="gnb clearfix">
                            <li>
                                <a href="#section1" title="notecoin platform section link" class="nav-link">Notebank</a>
                            </li>
                            <li>
                                <a href="#section2" title="notecoin Blockchain section link" class="nav-link">Blockchain</a>
                            </li>
                            <li>
                                <a href="#section3" title="notecoin Roadmap section link" class="nav-link">Roadmap</a>
                            </li>
                            <li>
                                <a href="#section4" title="notecoin Token Allocation section link" class="nav-link">Token Allocation</a>
                            </li>
                            <li>
                                <a href="#section5" title="notecoin Team section link" class="nav-link">Team</a>
                            </li>
                            <li>
                                <a href="#section6" title="notecoin Press section link" class="border_none nav-link">Press</a>
                            </li>
                        </ul> <!-- END gnb-->
                        <div class="header_btn_box">
                            <a href="/users/login" title="login page link" class="header_btn h_btn1">Login</a>
                            <a href="/users/signUp" title="Join page link" class="header_btn h_btn2">Join</a>

                        </div> <!-- END header_btn_box-->
                        <div class="lang_box">
                            <a href="/setLang/en" class="lang_icon lang_en"></a>
                            <a href="/setLang/ko" class="lang_icon lang_ko"></a>
                            <a href="/setLang/jp" class="lang_icon lang_jp" style="display:none;"></a>
                        </div> <!--END-->
                    </div> <!-- END gnbInnerBox-->
                </nav> <!-- END gnbbox-->
            </div> <!-- END col-lg-12-->
        </div> <!-- END Row-->
    </div> <!-- END container-->
</header> <!-- END header-->